{% extends '::admin.html.twig' %}

{% block body %}
<div class="container">
    <h1>Editar historia</h1>
    <form action="{{ path('historias_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_errors(form) }}
         <fieldset>
            <div class="form-group">
                 {{ form_row(form.usuario) }}
            </div>
            <legend>Historia</legend>
             <div class="form-group">
                 {{ form_row(form.historia) }}
             </div>
             <div class="form-group">
                 {{ form_row(form.fecha) }}
             </div>
        </fieldset>
        <hr/>
        
        <div class="container">
        <a href="{{path('historias')}}" class="btn btn-success">Regresar</a>
        <input type="submit" class="btn btn-primary" name="botonGuardar" id="botonGuardar" value="Guardar"/>
        </div>
        {{ form_rest(form) }}
    </form>
</div>
{% endblock %}

