{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Hijo list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Apodo</th>
                <th>Usarapodo</th>
                <th>Fechanacimiento</th>
                <th>Biografia</th>
                <th>Imagen</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('hijos_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.nombre }}</td>
                <td>{{ entity.apodo }}</td>
                <td>{{ entity.usarApodo }}</td>
                <td>{% if entity.fechaNacimiento %}{{ entity.fechaNacimiento|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.biografia }}</td>
                <td>{{ entity.imagen }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('hijos_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('hijos_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('hijos_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
