<div class="row historia" id="historia-{{historia.id}}1">
    <p class="col-md-12 fecha">{{ historia.fecha | date('Y-m-d H:i:s') | translate_date }}</p>
    <p class="col-md-12 contenido text-center">
    <div class="row" style="margin-bottom: .5em;">
        <div class="col-xs-2 col-sm-2 col-md-2 text-center">
            <span>{{historia.usuario.username}}</span>
            <figure class="dialogo-nino-imagen">
                {% if historia.usuario.imagen | length > 0 %}
                <img src="{{ historia.usuario.webPath }}" style="max-width: 100px;" alt="">
                {% else %}
                <img src="{{ asset('images/logo.png') }}" style="max-width: 100px;" alt="">
                {% endif %}    
            </figure>
        </div>
        <div class="col-xs-10 col-sm-10 col-md-10">
            <div class="resumenHistoria row">
                <div class="elementos-media row">
                    <div class="col-xs-4 col-xs-offset-4 col-md-4 col-md-offset-4">
                        {% set imagenItem = '' %}
                        {% set videoItem = '' %}
                        {% set sonidoItem = '' %}
                        {% for componente in historia.componentes %}
                            {% if imagenItem|length == 0  and componente.tipo == constant('Richpolis\\HistoriasBundle\\Entity\\Componente::TIPO_IMAGEN')  %}
                                {% set imagenItem = componente.webPath %}
                                <span class="glyphicon glyphicon-picture"></span>
                            {% elseif videoItem|length == 0  and componente.tipo == constant('Richpolis\\HistoriasBundle\\Entity\\Componente::TIPO_LINK') %}
                                {% set videoItem  = componente.webPath %}
                                <span class="glyphicon glyphicon-facetime-video"></span>
                            {% elseif sonidoItem|length == 0  and componente.tipo == constant('Richpolis\\HistoriasBundle\\Entity\\Componente::TIPO_MUSICA') %}
                                {% set sonidoItem  = componente.webPath %}
                                <span class="glyphicon glyphicon-music"></span>
                            {% endif %}    
                        {% endfor %}
                    </div>
                </div>
                <div class=" row">
                    <div class="col-xs-9 col-sm-10 col-md-11">
                        <p>
                            {{historia.historia}}
                        </p>
                    </div>
                    <div class="col-xs-3 col-sm-2 col-md-1 controles text-center">
                        <a href="#" onclick="javascript:compartir('historia-{{historia.id}}')">
                            <span class="glyphicon glyphicon-share-alt"></span>
                        </a>
                        <br/>
                        <a href="#"  onclick="javascript:generarPdf('historia-{{historia.id}}')">
                            <span class="glyphicon glyphicon-arrow-down"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row imagen-nino text-center">
        <figure class="col-xs-12">
            {% if imagenItem|length > 0  %}
                <img src="{{imagenItem}}" style="max-width: 400px;" alt=""/>
            {% elseif videoItem|length > 0  %}
                <iframe src ="http://www.youtube.com/embed/{{videoItem}}?rel=1&autoplay=0" width="400px" height="350px" frameborder="no"></iframe>
            {% elseif sonidoItem|length > 0  %}
                <audio controls>
                    <source src="{{sonidoItem}}" type="audio/mpeg">
                    Your browser does not support the audio tag.
                </audio>
            {% endif %}
        </figure>
    </div>
    <div class="row comentarios">
        <!--div class="comentario row">
            <div class="col-xs-4 col-md-2 imagen">
                <figure class="img-responsive">
                    <img  src="http://placehold.it/100x100" alt="">
                </figure>
            </div>
            <div class="col-xs-4 col-md-2 nombre">
                Nombre
            </div>
            <div class="col-xs-4 col-md-2 contenido">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
            </div>
        </div-->
       
    </div>
</p>
</div>
