{% extends 'FrontendBundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block contenido %}
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
            <h2 class="form-registro-encabezado text-center">
                     <a href="{{path('show_hijos',{'es':es})}}?indice={{anterior}}">
                     <span class="glyphicon glyphicon-arrow-left controlAtras"></span>
                     </a>
                     {{hijo.stringSexo}}
                     <a href="{{path('show_hijos',{'es':es})}}?indice={{siguiente}}">
                     <span class="glyphicon glyphicon-arrow-right controlSiguiente"></span>
                     </a>
            </h2>
            <div id="formRegistroHijos">
                <figure id="imagen-usuario">
                    {% if hijo.imagen | length > 0 %}
                    <img src="/apps/babystory/web{{hijo.thumbnailWebPath}}" width="81" height="81"/>    
                    {% else %}    
                    <img src="{{asset('images/sin-imagen-usuario.png')}}"/>
                    {% endif %}
                </figure>
                <div class="form-group">
                    <input type="text" class="form-control" value="{{hijo.nombre}}" readonly="readonly"/>
                </div>
                <div class="form-group">
                <input type="text" class="form-control" value="{{hijo.apodo}}" readonly="readonly"/>
                </div>
                <div class="form-group">
                 <input type="text" class="form-control" value="{{'Usar apodo: ' ~ ((hijo.usarApodo)?'Si':'No') }}" readonly="readonly"/>
                </div>
                <br/>
                <div class="form-group">
                <input type="text" class="form-control" value="{{hijo.fechaNacimiento | date('d-M-Y')}}" readonly="readonly"/>    
                </div>
                <div class="form-group">
                <input type="text" class="form-control" value="{{ hijo.biografia }}" readonly="readonly"/>
                </div>
               <p>&nbsp;</p>
            </div>
                <div class="row controles">
                    <div class="col-xs-2 col-sm-2 col-md-2"></div>
                    <div class="col-xs-8 col-sm-8 col-md-8 text-center">
                        <a href="javascript:void(0);">
                            <span class="glyphicon glyphicon-floppy-disk" style="color:gray;"></span>
                        </a>
                        <a href="{{path('editar_hijos',{'id': hijo.id})}}">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </a>
                        <a href="#" onclick="javascript:deleteChild('{{path('eliminar_hijos',{'id': hijo.id })}}')">
                            <span class="glyphicon glyphicon-trash"></span>
                        </a>    
                    </div>
                    <div class="col-xs-2 col-sm-2 col-md-2"></div>
                </div>
                <p class="contenedor-loader">&nbsp;</p>    
        </div>
                          
    </div>    

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
       
        function saveChild(){
            $("#formRegistroHijos").submit();
        }
        function deleteChild(url){
            if(confirm('Confirmar para eliminar registro ?')){
                $loader = $("<img>");
                $loader.attr({'src': '{{asset('images/loader.GIF')}}','id': 'loader'});
                $loader.css({'maxWidth': '80px'});
                $(".contenedor-loader").html($loader);
                $.ajax({
                    url: url,
                    type: 'DELETE',
                    dataType: 'json',
                }).done(function(data, textStatus,jqXHR){
                    debugger;
                    data = JSON.parse(data);
                    alert(data.mensaje);
                    location.href = '{{path('editar_usuario')}}';
                    $(".contenedor-loader").html('');
                }).fail(function(data){
                    alert("Error");
                    console.log(data);
                    $(".contenedor-loader").html('');
                });
            }
        }
    </script>
{% endblock %}    